*__pycache__*
.idea/
algorithms/REGAL_ori/
algorithms/AcrossNetwork*
algorithms/IONE_Python
temp/
algorithms/IONE/out/
algorithms/IONE/.idea/
run.sh
*.class
tests/final_mat.py
tests/h.py
tests/test_all.py
tests/test_datapreprocess.py
tests/test_fullysynthetic.py
tests/test_semisynthetic.py
algorithms/FAN/
newal.py
log/
*.npy
tools/
output/
algorithms/FAN2/embeddings/
algorithms/PALE/embeddings/
algorithms/FAN2/tempdict/
algorithms/RAN/embeddings/
algorithms/RAN/tempdict/